<div class="page-header">
    <h1>Családi Teendők Táblája</h1>
</div>

<p>
    Ezen az oldalon olvashatod a családunk eheti teendőit. <br>
    A családtagok be tudnak jelentkezni, miután regisztráltak az oldalon.<br>
    Bejelentkezve mindenki láthatja, hogy milyen feladatok lettek kiosztva a családtagokra.<br>
    Lehet módosítani a teendőket, ahol jelezhető, ha megcsináltuk az adott feladatot, vagy megváltoztathatjuk a teendő helyét illetve magát a teendő tárgyát.<br>
    A listában lévő teendőkhöz megjegyzés is hozzáfűzhető.<br>
    Meglévő teendő törölhető is, ha már el lett végezve.
</p>
